		@import url('https://fonts.googleapis.com/css2?family=Monchiy+Pop+P+One&display=swap');

		body {
			min-height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: 'Monchiy Pop P One', sans-serif;
			background-color: #f2acac;
			overflow: hidden;
		}

		input#open {
			display: none;
		}

		.valentines-day-card {
			position: relative;
			width: 300px;
			height: 300px;
			transform-style: preserve-3d;
			transform: perspective(2500px);
			transition: .3s;
		}

		.card-front {
			position: relative;
			background-color: #fff0f3;
			width: 300px;
			height: 300px;
			transform-origin: left;
			box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .15), 30px 0 50px rgba(0, 0, 0, .3);
			transition: .3s;
		}

		.card-front:before {
			content: "";
			position: absolute;
			width: 280px;
			height: 280px;
			background-color: #d04e4e;
			top: 10px;
			left: 10px;
		}

		.card-inside {
			position: absolute;
			background-color: #fff0f3;
			width: 300px;
			height: 300px;
			z-index: -1;
			top: 0;
			left: 0;
			box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .22), 100px 20px 100px rgba(0, 0, 0, 0.1);
		}

		.open {
			position: absolute;
			width: 300px;
			height: 300px;
			top: 0;
			left: 0;
			background-color: transparent;
			z-index: 7;
			cursor: pointer;
		}

		#open:checked ~ .card-front {
			transform: rotateY(-155deg);
			box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .13), 30px 0 50px rgba(0, 0, 0, .1);
		}

		#open:checked ~ .card-front:before {
			z-index: 5;
			background-color: #fff0f3;
			width: 300px;
			height: 300px;
			top: 0;
			left: 0;
			box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .1), 30px 0 50px rgba(0, 0, 0, .1);
		}

		.note {
			position: relative;
			width: 200px;
			height: 150px;
			top: 75px;
			left: 50px;
			color: #333;
			background-color: #fff0f3;
			font-size: 30px;
			display: flex;
			align-items: center;
			text-align: center;
			filter: drop-shadow(0 0 20px rgba(0,0,0,0.3));
		}
		.note:before, .note:after {
			content: "";
			position: absolute;
			background-color: #ba1c1c;
			width: 40px;
			width: 40px;
		}

		.note:before {
			transform: rotate(-45deg);
			top: -20px;
			left: 80px;
		}

		.note:after {
			border-radius: 50%;
			top: -35px;
			left: 65px;
			box-shadow: 30px 0 #ba1c1c;
		}

		.text-one {
			position: absolute;
			color: #333;
			font-size: 30px;
			top: 30px;
			width: 300px;
			text-align: center;
		}

		.text-one:before, .text-one:after {
			position: absolute;
			left: 5px;
			text-align: center;
			width: 300px;
		}

		.text-one:before {
			content: "VALENTINE'S";
			top: 30px;
			color: #d04e4e;
		}

		.text-one:after {
			content: "DAY!";
			top: 60px;
		}

		.heart {
			position: relative;
			background-color: #d04e4e;
			height: 60px;
			width: 60px;
			top: 180px;
			left: 120px;
			transform: rotate(-45deg);
			animation: beat .8s infinite;
		}

		.heart:before, .heart:after {
			content: "";
			position: absolute;
			border-radius: 50%;
			height: 60px;
			width: 60px;
			background-color: #d04c4c;
		}

		.heart:before {
			top: -30px;
			left: 0;
		}

		.heart:after {
			left: 30px;
			top: 0;
		}

		.smile {
			position: absolute;
			width: 30px;
			height: 15px;
			background-color: #333;
			z-index: 1;
			border-radius: 0 0 100px 100px;
			top: 200px;
			left: 135px;
			overflow: hidden;
		}

		.smile:before {
			content: "";
			position: absolute;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			background-color: #030202;
			top: 5px;
			left: 5px;
		}

		.eyes {
			position: absolute;
			border-radius: 50%;
			background-color: #333;
			width: 10px;
			height: 10px;
			z-index: 1;
			top: 190px;
			left: 165px;
			box-shadow: -40px 0 #333;
			transform-origin: 50%;
			animation: close 2s infinite;
		}

		@keyframes close {
			0%, 100% {transform: scale(1, 0.05);}
			5%, 95% {transform: scale(1, 1);}
		}

		@keyframes beat {
			0%, 40%, 100% {transform: scale(1) rotate(-45deg);}
			25%, 60% {transform: scale(1.1) rotate(-45deg);}
		}
		span {
			position: absolute;
			pointer-events: none;
			filter: drop-shadow(0 0 15px rgba(0,0,0,0));
			animation: fadeInOut 1s linear infinite;
		}
		@keyframes fadeInOut{
			0%, 100% {
				opacity: 0;
			}
			20%, 80% {
				opacity: 1;
			}
		}
		span::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: url(heart.png);
			background-size: cover;
			animation: moveShape 1s linear infinite;
		}
		@keyframes moveShape{
			0%{
				transform: translate(0) rotate(0deg);
			}
			100%{
				transform: translate(300) rotate(360deg);
			}
		}